body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 110vh;
   
}
header{
    font-family:monospace;
    background-color: #000;
    color: #fff;
    padding: 5px;
    text-align: center;
    animation: fadeInDown 1s ease forwards;
}


@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

nav {
    background-color: pink;
    padding: 10px;
    text-align: left;
   
}
nav a {
    transition:0.1s ease-in;
    color:#000;
    text-decoration: none;
    margin-right: 20px;
}

nav a :last-child {
   margin-right: 0;
}

nav a:hover {
    color: gray;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 8px 12px;
}
main {
    
    flex: 1;
   background-image: url(image\ \(1\).jpg);
   background-size:cover;
   background-position:center;
   color:white;
    padding: 20px;
    filter: brightness(80%);
 
    
}

main h1 {
    text-align: center;
}

main p {
   margin: 20px 300px;
  text-align: justify;

}

#origin, #evolution, #impact {
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

img {
border-radius: 30px;
margin-top:20px

}